body{
    background-image: url("computer.jpg");
}

h1{
    color:aliceblue;
    height: 200px;
    width: 100%;
    text-align:center;
}
.home{
    background-color: aliceblue;
}

 .button{
    background-color: aliceblue;
 }

 .test{
    position:relative; top:-185px;
 }

 .game{

    position: relative; top: -300px;
 }

 .gmhm{
    position: absolute; bottom: 0;
 }

 .comingson{
   color: aliceblue;
 }